<web-app>

	<servlet>
		<servlet-name>kamata</servlet-name>
		<servlet-class>KamataServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>kamata</servlet-name>
		<url-pattern>/mahiro</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>indexnew</servlet-name>
		<servlet-class>IndexNewServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>indexnew</servlet-name>
		<url-pattern>/indexnew</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>indexold</servlet-name>
		<servlet-class>IndexOldServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>indexold</servlet-name>
		<url-pattern>/indexold</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>indexgood</servlet-name>
		<servlet-class>IndexGoodServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>indexgood</servlet-name>
		<url-pattern>/indexgood</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>threadnew</servlet-name>
		<servlet-class>ThreadNewServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>threadnew</servlet-name>
		<url-pattern>/threadnew</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>threadold</servlet-name>
		<servlet-class>ThreadOldServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>threadold</servlet-name>
		<url-pattern>/threadold</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>threadgood</servlet-name>
		<servlet-class>ThreadGoodServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>threadgood</servlet-name>
		<url-pattern>/threadgood</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kensaku</servlet-name>
		<servlet-class>KensakuServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>kensaku</servlet-name>
		<url-pattern>/kensaku</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kensakuold</servlet-name>
		<servlet-class>KensakuoldServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>kensakuold</servlet-name>
		<url-pattern>/kensakuold</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addminprint</servlet-name>
		<servlet-class>AddminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addminprint</servlet-name>
		<url-pattern>/addminprint</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>time</servlet-name>
		<jsp-file>/time.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>time</servlet-name>
		<url-pattern>/time</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>list</servlet-name>
		<jsp-file>/listoutput.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/Index.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>thread</servlet-name>
		<jsp-file>/Thread.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>thread</servlet-name>
		<url-pattern>/thread</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addmin</servlet-name>
		<jsp-file>/addmin.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addmin</servlet-name>
		<url-pattern>/addmin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kekka</servlet-name>
		<jsp-file>/kensaku.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>kekka</servlet-name>
		<url-pattern>/kekka</url-pattern>
	</servlet-mapping>
	
	
	
	
	<error-page>
		<error-code>404</error-code>
		<location>/nocontent.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/nocontent.jsp</location>
	</error-page>

</web-app>